rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /staffs/{staffId} {
      // Regras ultra-permissivas para garantir sincronização no desafio
      allow read, write: if true;
    }
  }
}
